<html>
  <head>
    <style>
table, th, td {
  border:1px solid black;
}
</style>
  </head>

  <body>
  <h1>Current Token Info</h1>



<table style="width:100%">
  <tr>
    <td><%=@staticCollect[2]%></td>
    <td><%=@staticCollect[5]%></td>
    <td><%=@staticCollect[12]%></td>
    <td><%=@staticCollect[11]%></td>

  </tr>
</table>
<div class="medium-border big-padding">
  <p class="company-name">Money Token ID: <%=@staticCollect[0]%></p>
  <h3>Fees To Collect: $<%=@staticCollect[1]%></h3>
  <p>Lower Price: $<%=@staticCollect[4]%></p>
  <p>Current Price: $<%=@staticCollect[2]%></p>
  <p>Upper Price: $<%=@staticCollect[3]%></p>
  <h3>Close Out Value: $<%=@staticCollect[5]%></h3>
  <i>^Value if Cashed Out : LP Token + Wallet + Aave Collateral - Aave Loan</i>
  <h3>Bot Wallet Value - W/ Fees: $<%=@staticCollect[12]%></h3>
  <i>^Value of Bot: LP Token + Wallet + Fees to Collect</i>
  <h3>Bot Wallet Value - No Fees: $<%=@staticCollect[11]%></h3>
  <i>^Value of Bot: LP Token + Wallet</i>
  <p>In Liquidity: $<%=@staticCollect[6]%></p>
  <p>Current Loan: $<%=@staticCollect[7]%></p>
  <p>Current Collateral: $<%=@staticCollect[8]%></p>
  <p>LTV: <%=@staticCollect[9]%></p>
  <h3>Health Factor: <%=@staticCollect[10]%></h3>

</div>

<form action="/getFee/<%=@staticCollect[0]%>">

  <button>Get Live Prices</button>
</form>

<p>If Fees To Collect is 0, probably went out of range</p>
<form action="/getValidRanges">

  <button>Find Current Range (~15s)</button>
</form>
    
  </body>
</html>
<form action="/ranker" >
  <div>
    <button>Rank </button>
  </div>
</form>

<form action="/plotter/file" >
  <div>
    <label for="file">Choose file to upload</label>
    <input type="file" id="file" name="file" multiple />
  </div>
  <div>
    <button>Submit</button>
  </div>
</form>
